* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

header, footer {
    height: 20vh;
    text-align: center;
    color: aquamarine;
    background-color: rgb(78, 58, 33);
}
header h1 {
    padding-top: 50px;

}

#display, #choose {
    display: flex;
    background-color: rgb(94, 69, 63);
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    border-top: 5px solid whitesmoke;
}

.vs, .choice {
    border: 1px solid white;
    border-top: 5px solid rgb(255, 255, 255);
    padding: 50px;
    border-radius: 10px;
    font-size: 3rem;
}

#choose {
    height: 30vh;
}

.choice {
    padding: 20px 40px;
}

footer {
    height: 10vh;
}

